<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Form Maker - Form-Fields">
    <meta name="author" content="Stephen Court">

    <title>Forms</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          crossorigin="anonymous">

    <!-- Custom styles for this temptyle.css -->
    <link href="../../css/dashboard.css" rel="stylesheet">
    <link href="../../css/style.css" rel="stylesheet">
</head>

<body>
<!-- Main Content -->
<div class="container-fluid">
    <div class="row">
        <!-- Page Content -->
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Forms: Registration</h1>

            <!-- Tabs -->
            <ul class="nav nav-tabs">
                <li role="presentation"><a href="forms.view.html">Forms</a></li>
                <li role="presentation" class="active"><a href="#">Fields</a></li>
            </ul>

            <!-- Form -->
            <form>
                <div class="form-group">
                    <div class="col-xs-7">
                        <label for="firstNameInput" class="firstRowLabelInput">First Name:</label>
                        <input type="text" class="form-control" id="firstNameInput" placeholder="First Name">
                    </div>
                    <div class="col-xs-5">
                        <span class="glyphicon glyphicon-pencil firstRowIcons" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-7">
                        <label for="lastNameInput" class="mainRowLabelInput">Last Name:</label>
                        <input type="text" class="form-control" id="lastNameInput" placeholder="Last Name">
                    </div>
                    <div class="col-xs-5">
                        <span class="glyphicon glyphicon-pencil mainRowIcons" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-7">
                        <label for="dobInput" class="mainRowLabelInput">Date of Birth:</label>
                        <input type="date" class="form-control" id="dobInput" placeholder="Select Date">
                    </div>
                    <div class="col-xs-5">
                        <span class="glyphicon glyphicon-pencil mainRowIcons" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-7">
                        <label for="genderInput" class="mainRowLabelInput">Gender:</label>
                        <select class="form-control" id="genderInput">
                            <option>Male</option>
                            <option>Female</option>
                        </select>
                    </div>
                    <div class="col-xs-5">
                        <span class="glyphicon glyphicon-pencil mainRowIcons" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
                    </div>
                </div>

                <div class="col-xs-7">
                    <label class="checkOrRadioClusterLabel">Roles:</label>
                    <div class="checkbox topCheckOrRadio">
                        <label>
                            <input type="checkbox"> Admin
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Student
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> User
                        </label>
                    </div>
                </div>

                <div class="col-xs-7">
                    <label class="checkOrRadioClusterLabel">License Agreement:</label>
                    <div class="radio topCheckOrRadio">
                        <label>
                            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                            Yes
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                            No
                        </label>
                    </div>
                </div>

                <div class="col-xs-12">
                <hr>
                </div>

                <div class="form-group">
                    <div class="col-xs-7">
                        <label for="newFieldInput">Add New Field:</label>
                        <select class="form-control" id="newFieldInput">
                            <option>Single Line Text</option>
                            <option>Date</option>
                            <option>Dropdown</option>
                            <option>Checkboxes</option>
                            <option>Radio Buttons</option>
                            <option>Paragraph Text Field</option>
                        </select>
                    </div>
                    <div class="col-xs-5">
                        <span class="glyphicon glyphicon-plus newFieldIconInputAlign" aria-hidden="true"></span>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</body>
</html>