<h1>Home</h1>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Title</th>
            <th>Text</th>
            <th>Image</th>
            <th>&nbsp</th>
        </tr>
        <tr>
            <th><input ng-model="home.title" class="form-control" type="text"/></th>
            <th><input ng-model="home.text" class="form-control" type="text"/></th>
            <th><input ng-model="home.image" class="form-control" type="text"/></th>
            <th class="text-nowrap">
                <button ng-click="addHome(home)" class="btn btn-primary">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </button>
                <button ng-click="changeHome(home)" class="btn btn-primary btn-success">
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                </button>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="home in allHomes">
            <td class="wrapInMobile">{{home.title}}</td>
            <td class="wrapInMobile">{{home.text}}</td>
            <td>
                <a href="#/home">
                    {{home.image}}
                </a>
            </td>
            <td class="text-nowrap">
                <button ng-click="removeHome(home)" class="btn btn-danger">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </button>
                <button ng-click="selectHome($index)" class="btn btn-info">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>