<!-- Login Fields -->
<form class="form-horizontal">
    <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 main">
        <h1 class="page-header dark-heading">Login</h1>

        <div class="form-group">
            <label for="inputUsernameLogin" class="col-sm-2 control-label">Username:</label>
            <div class="col-sm-10">
                <input ng-model="userLogin.username"
                       type="text" class="form-control"
                       id="inputUsernameLogin"
                       placeholder="Username">
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword" class="col-sm-2 control-label">Password:</label>
            <div class="col-sm-10">
                <input ng-model="userLogin.password"
                       type="password"
                       class="form-control"
                       id="inputPassword"
                       placeholder="Password">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button ng-click="login(userLogin)"
                        class="btn btn-default"
                        type="submit">
                    Login
                </button>
            </div>
        </div>
    </div>
</form>


<!-- Registration Fields -->
<form class="form-horizontal">
    <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 main">
        <h1 class="page-header dark-heading">Register</h1>

        <div class="form-group">
            <label for="inputUsernameReg" class="col-sm-2 control-label">Username:</label>
            <div class="col-sm-10">
                <input ng-model="userReg.username"
                       type="text"
                       class="form-control"
                       id="inputUsernameReg"
                       placeholder="Username">
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword1" class="col-sm-2 control-label">Password:</label>
            <div class="col-sm-10">
                <input ng-model="userReg.password"
                       type="password"
                       class="form-control"
                       id="inputPassword1"
                       placeholder="Password">
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword2" class="col-sm-2 control-label">Verify Password:</label>
            <div class="col-sm-10">
                <input ng-model="userReg.password2"
                       type="password"
                       class="form-control"
                       id="inputPassword2"
                       placeholder="Verify Password">
            </div>
        </div>
        <div class="form-group">
            <label for="inputFirstName" class="col-sm-2 control-label">First Name:</label>
            <div class="col-sm-10">
                <input ng-model="userReg.firstName"
                       type="text"
                       class="form-control"
                       id="inputFirstName"
                       placeholder="First Name">
            </div>
        </div>
        <div class="form-group">
            <label for="inputLastName" class="col-sm-2 control-label">Last Name:</label>
            <div class="col-sm-10">
                <input ng-model="userReg.lastName"
                       type="text"
                       class="form-control"
                       id="inputLastName"
                       placeholder="lastName">
            </div>
        </div>
        <div class="form-group">
            <label for="inputEmail" class="col-sm-2 control-label">Email:</label>
            <div class="col-sm-10">
                <input ng-model="userReg.email"
                       type="text"
                       class="form-control"
                       id="inputEmail"
                       placeholder="Email">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button ng-click="register(userReg)"
                        class="btn btn-default"
                        type="submit">
                    Register
                </button>
            </div>
        </div>
    </div>
</form>