<h1 class="page-header">Forms:  {{form.title}}</h1>

<!-- Tabs -->
<ul class="nav nav-tabs">
    <li role="presentation"><a href="#/forms">Forms</a></li>
    <li role="presentation" class="active"><a href="#/forms/{{formId}}/fields">Fields</a></li>
</ul>

<!-- Form -->
<form role="form">

    <!-- Fields -->
    <table class="table">
        <tbody reorder jga-axis="y">
        <!--<tbody reorder jga-axis="y" reorder-callback="model.sortField(start, end)">-->
        <tr ng-repeat="field in model.fields" ng-switch on="field.type" class="form-group">
            <td>
                <div class="row">
                    <div class="col-xs-12">
                        <label for="{{field._id}}" class="extraTopPadding">{{field.label}}:</label>
                    </div>
                    <div ng-switch-when="TEXT" class="text-nowrap">
                        <div class="col-xs-4 col-sm-8 col-md-9">
                            <input type="text"
                                   class="form-control"
                                   id="{{field._id}}"
                                   placeholder="{{field.placeholder}}">
                        </div>
                        <div class="col-xs-8 col-sm-4 col-md-3">
                            <button type="button" class="btn btn-default" ng-click="openModDialogSingle($index)">
                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                            </button>
                            <button type="button" class="btn btn-default" ng-click="cloneField(field)">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </button>
                            <button type="button" class="btn btn-default" ng-click="deleteField(field)">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            </button>
                            <button id="reorderButton"
                                    type="button"
                                    class="btn btn-default">
                                <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
                            </button>
                        </div>
                    </div>
                    <div ng-switch-when="TEXTAREA" class="text-nowrap">
                        <div class="col-xs-4 col-sm-8 col-md-9">
                            <textarea rows="4"
                                      class="form-control"
                                      id="{{field._id}}"
                                      placeholder="{{field.placeholder}}"></textarea>
                        </div>
                        <div class="col-xs-8 col-sm-4 col-md-3">
                            <button type="button" class="btn btn-default" ng-click="openModDialogMultiple($index)">
                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                            </button>
                            <button type="button" class="btn btn-default" ng-click="cloneField(field)">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </button>
                            <button type="button" class="btn btn-default" ng-click="deleteField(field)">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            </button>
                            <button id="reorderButton"
                                    type="button"
                                    class="btn btn-default">
                                <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
                            </button>
                        </div>
                    </div>
                    <div ng-switch-when="EMAIL" class="text-nowrap">
                        <div class="col-xs-4 col-sm-8 col-md-9">
                            <input type="email"
                                   class="form-control"
                                   id="{{field._id}}"
                                   placeholder="{{field.placeholder}}">
                        </div>
                        <div class="col-xs-8 col-sm-4 col-md-3">
                            <button type="button" class="btn btn-default" ng-click="openModDialogEmail($index)">
                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                            </button>
                            <button type="button" class="btn btn-default" ng-click="cloneField(field)">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </button>
                            <button type="button" class="btn btn-default" ng-click="deleteField(field)">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            </button>
                            <button id="reorderButton"
                                    type="button"
                                    class="btn btn-default">
                                <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
                            </button>
                        </div>
                    </div>
                    <div ng-switch-when="PASSWORD" class="text-nowrap">
                        <div class="col-xs-4 col-sm-8 col-md-9">
                            <input type="password"
                                   class="form-control"
                                   id="{{field._id}}"
                                   placeholder="{{field.placeholder}}">
                        </div>
                        <div class="col-xs-8 col-sm-4 col-md-3">
                            <button type="button" class="btn btn-default" ng-click="openModDialogPassword($index)">
                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                            </button>
                            <button type="button" class="btn btn-default" ng-click="cloneField(field)">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </button>
                            <button type="button" class="btn btn-default" ng-click="deleteField(field)">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            </button>
                            <button id="reorderButton"
                                    type="button"
                                    class="btn btn-default">
                                <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
                            </button>
                        </div>
                    </div>
                    <div ng-switch-when="DATE" class="text-nowrap">
                        <div class="col-xs-4 col-sm-8 col-md-9">
                            <input type="date"
                                   class="form-control"
                                   id="{{field._id}}"
                                   placeholder="{{field.placeholder}}">
                        </div>
                        <div class="col-xs-8 col-sm-4 col-md-3">
                            <button type="button" class="btn btn-default" ng-click="openModDialogDate($index)">
                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                            </button>
                            <button type="button" class="btn btn-default" ng-click="cloneField(field)">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </button>
                            <button type="button" class="btn btn-default" ng-click="deleteField(field)">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            </button>
                            <button id="reorderButton"
                                    type="button"
                                    class="btn btn-default">
                                <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
                            </button>
                        </div>
                    </div>
                    <div ng-switch-when="OPTIONS" class="text-nowrap">
                        <div class="col-xs-4 col-sm-8 col-md-9">
                            <select class="form-control" id="{{field._id}}">
                                <option ng-repeat="option in field.options">{{option.label}}</option>
                            </select>
                        </div>
                        <div class="col-xs-8 col-sm-4 col-md-3">
                            <button type="button" class="btn btn-default" ng-click="openModDialogDropdown($index)">
                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                            </button>
                            <button type="button" class="btn btn-default" ng-click="cloneField(field)">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </button>
                            <button type="button" class="btn btn-default" ng-click="deleteField(field)">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            </button>
                            <button id="reorderButton"
                                    type="button"
                                    class="btn btn-default">
                                <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
                            </button>
                        </div>
                    </div>
                    <div ng-switch-when="CHECKBOXES" class="text-nowrap">
                        <div class="col-xs-4 col-sm-8 col-md-9">
                            <div class="checkbox" class="form-control" ng-repeat="option in field.options">
                                <label><input type="checkbox">{{option.label}}</label>
                            </div>
                        </div>
                        <div class="col-xs-8 col-sm-4 col-md-3">
                            <button type="button" class="btn btn-default" ng-click="openModDialogCheckbox($index)">
                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                            </button>
                            <button type="button" class="btn btn-default" ng-click="cloneField(field)">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </button>
                            <button type="button" class="btn btn-default" ng-click="deleteField(field)">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            </button>
                            <button id="reorderButton"
                                    type="button"
                                    class="btn btn-default">
                                <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
                            </button>
                        </div>
                    </div>
                    <div ng-switch-when="RADIOS" class="text-nowrap">
                        <div class="col-xs-4 col-sm-8 col-md-9 radio">
                            <div class="checkbox" class="form-control" ng-repeat="option in field.options">
                                <label><input type="radio" name="optradio"> {{option.label}}</label>
                            </div>
                        </div>
                        <div class="col-xs-8 col-sm-4 col-md-3">
                            <button type="button" class="btn btn-default" ng-click="openModDialogRadio($index)">
                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                            </button>
                            <button type="button" class="btn btn-default" ng-click="cloneField(field)">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </button>
                            <button type="button" class="btn btn-default" ng-click="deleteField(field)">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            </button>
                            <button id="reorderButton"
                                    type="button"
                                    class="btn btn-default">
                                <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="col-xs-12">
        <hr>
    </div>

    <!-- Add Field Area -->
    <div class="form-group">
        <div class="col-xs-12">
            <label for="newFieldInput">Add New Field:</label>
        </div>
        <div class="col-xs-4 col-sm-8 col-md-9">
            <select ng-model="model.fieldType" class="form-control" id="newFieldInput">
                <option>Single Line Text Field</option>
                <option>Multi Line Text Field</option>
                <option>Email Field</option>
                <option>Password Field</option>
                <option>Date Field</option>
                <option>Dropdown Field</option>
                <option>Checkboxes Field</option>
                <option>Radio Buttons Field</option>
            </select>
        </div>
        <div class="col-xs-8 col-sm-4 col-md-3">
            <button type="button" class="btn btn-default" ng-click="addField(model.fieldType)">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            </button>
        </div>
    </div>
</form>


<!-- JQueryUI Dialog Boxes -->

<!-- Single Line Dialog -->
<div class=displayInDialog id="dialogSingle" title="Single Line Field">
    <form>
        <fieldset>
            <div>
                <label for="labelSingle" class="dialogBoxLabels">Label</label>
            </div>
            <input type="text"
                   id="labelSingle"
                   placeholder="Label"
                   class="text ui-widget-content ui-corner-all"
                   ng-model="dialogLabelSingle">
            <div>
                <label for="placeholderSingle" class="dialogBoxLabels">Placeholder</label>
            </div>
            <input type="text"
                   id="placeholderSingle"
                   placeholder="Placeholder"
                   class="text ui-widget-content ui-corner-all"
                   ng-model="dialogPlaceholderSingle">
        </fieldset>
    </form>
</div>

<!-- Multiple Lines Dialog -->
<div class=displayInDialog id="dialogMultiple" title="Multiple Lines Field">
    <form>
        <fieldset>
            <div>
                <label for="labelMultiple" class="dialogBoxLabels">Label</label>
            </div>
            <input type="text"
                   id="labelMultiple"
                   placeholder="Label"
                   class="text ui-widget-content ui-corner-all"
                   ng-model="dialogLabelMultiple">
            <div>
                <label for="placeholderMultiple" class="dialogBoxLabels">Placeholder</label>
            </div>
            <input type="text"
                   id="placeholderMultiple"
                   placeholder="Placeholder"
                   class="text ui-widget-content ui-corner-all"
                   ng-model="dialogPlaceholderMultiple">
        </fieldset>
    </form>
</div>

<!-- Email Dialog -->
<div class=displayInDialog id="dialogEmail" title="Email Field">
    <form>
        <fieldset>
            <div>
                <label for="labelEmail" class="dialogBoxLabels">Label</label>
            </div>
            <input type="text"
                   id="labelEmail"
                   placeholder="Label"
                   class="text ui-widget-content ui-corner-all"
                   ng-model="dialogLabelEmail">
            <div>
                <label for="placeholderEmail" class="dialogBoxLabels">Placeholder</label>
            </div>
            <input type="text"
                   id="placeholderEmail"
                   placeholder="Placeholder"
                   class="text ui-widget-content ui-corner-all"
                   ng-model="dialogPlaceholderEmail">
        </fieldset>
    </form>
</div>

<!-- Password Dialog -->
<div class=displayInDialog id="dialogPassword" title="Password Field">
    <form>
        <fieldset>
            <div>
                <label for="labelPassword" class="dialogBoxLabels">Label</label>
            </div>
            <input type="text"
                   id="labelPassword"
                   placeholder="Label"
                   class="text ui-widget-content ui-corner-all"
                   ng-model="dialogLabelPassword">
            <div>
                <label for="placeholderPassword" class="dialogBoxLabels">Placeholder</label>
            </div>
            <input type="text"
                   id="placeholderPassword"
                   placeholder="Placeholder"
                   class="text ui-widget-content ui-corner-all"
                   ng-model="dialogPlaceholderPassword">
        </fieldset>
    </form>
</div>

<!-- Date Dialog -->
<div class=displayInDialog id="dialogDate" title="Date Field">
    <form>
        <fieldset>
            <div>
                <label for="labelDate" class="dialogBoxLabels">Label</label>
            </div>
            <input type="text"
                   id="labelDate"
                   placeholder="Label"
                   class="text ui-widget-content ui-corner-all"
                   ng-model="dialogLabelDate">
        </fieldset>
    </form>
</div>

<!-- Dropdown Dialog -->
<div class=displayInDialog id="dialogDropdown" title="Dropdown Field">
    <form>
        <fieldset>
            <div>
                <label for="labelDropdown" class="dialogBoxLabels">Label</label>
            </div>
            <input type="text"
                   id="labelDropdown"
                   placeholder="Label"
                   class="text ui-widget-content ui-corner-all"
                   ng-model="dialogLabelDropdown">
            <div>
                <label for="optionsDropdown" class="dialogBoxLabels">Options</label>
            </div>
            <textarea id="optionsDropdown"
                      rows="12"
                      class="form-control"
                      class="text ui-widget-content ui-corner-all"
                      ng-model="dialogOptionsDropdown"></textarea>
        </fieldset>
    </form>
</div>

<!-- Checkbox Dialog -->
<div class=displayInDialog id="dialogCheckbox" title="Checkbox Field">
    <form>
        <fieldset>
            <div>
                <label for="labelCheckbox" class="dialogBoxLabels">Label</label>
            </div>
            <input type="text"
                   id="labelCheckbox"
                   placeholder="Label"
                   class="text ui-widget-content ui-corner-all"
                   ng-model="dialogLabelCheckbox">
            <div>
                <label for="optionsCheckbox" class="dialogBoxLabels">Options</label>
            </div>
            <textarea id="optionsCheckbox"
                      rows="12"
                      class="form-control"
                      class="text ui-widget-content ui-corner-all"
                      ng-model="dialogOptionsCheckbox"></textarea>
        </fieldset>
    </form>
</div>

<!-- Radio Button Dialog -->
<div class=displayInDialog id="dialogRadio" title="Radio Button Field">
    <form>
        <fieldset>
            <div>
                <label for="labelRadio" class="dialogBoxLabels">Label</label>
            </div>
            <input type="text"
                   id="labelRadio"
                   placeholder="Label"
                   class="text ui-widget-content ui-corner-all"
                   ng-model="dialogLabelRadio">
            <div>
                <label for="optionsRadio" class="dialogBoxLabels">Options</label>
            </div>
            <textarea id="optionsRadio"
                      rows="12"
                      class="form-control"
                      class="text ui-widget-content ui-corner-all"
                      ng-model="dialogOptionsRadio"></textarea>
        </fieldset>
    </form>
</div>