<div id="sidebar" class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar" ng-controller="SidebarController">
        <li ng-class="{'active' : $location.url().indexOf('home') != -1}">
            <a href="#/home">Home</a>
        </li>
        <li ng-class="{'active' : $location.url().indexOf('user') != -1}">
            <a href="#/user">User</a>
        </li>
        <li ng-class="{'active' : $location.url().indexOf('book') != -1}">
            <a href="#/book">Book</a>
        </li>
        <li ng-class="{'active' : $location.url().indexOf('wishlist') != -1}">
            <a href="#/wishlist">Wishlist</a>
        </li>
        <li ng-class="{'active' : $location.url().indexOf('location') != -1}">
            <a href="#/location">Location</a>
        </li>
        <li ng-class="{'active' : $location.url().indexOf('maker') != -1}">
            <a href="#/maker">Maker</a>
        </li>
        <li ng-class="{'active' : $location.url().indexOf('search') != -1}">
            <a href="#/search">Search</a>
        </li>
    </ul>
</div>