<!-- Locations Table -->
<div class="table-responsive col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1">
    <h1 class="page-header dark-heading">View Locations</h1>
    <table class="table table-striped">

        <thead class="text-nowrap">
        <tr>
            <th>
                <label>Name</label>
            </th>
            <th>
                <label>Street</label>
            </th>
            <th>
                <label>Apartment</label>
            </th>
            <th>
                <label>City</label>
            </th>
            <th>
                <label>State</label>
            </th>
            <th>
                <label>ZIP</label>
            </th>
            <th>
                <label>Likes</label>
            </th>
            <th>
                <label>Like</label>
            </th>
        </tr>
        </thead>

        <tbody>
        <tr ng-repeat="location in locations">
            <td><a href="#locationDetails/{{location._id}}">{{location.name}}</a></td>
            <td>{{location.street}}</td>
            <td>{{location.apartment}}</td>
            <td>{{location.city}}</td>
            <td>{{location.state}}</td>
            <td>{{location.zip}}</td>
            <td>{{location.likes}}</td>
            <td>
                <button type="button" class="btn btn-default" ng-click="addLike($index)">
                    <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                </button>
            </td>
        </tr>
        </tbody>

    </table>
</div>