<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">Register</h1>

    <!-- Registration Fields -->
    <form class="form-horizontal">
        <div class="form-group">
            <label for="inputText1" class="col-sm-2 control-label">Username:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputText1" placeholder="Username">
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword1" class="col-sm-2 control-label">Password:</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="inputPassword1" placeholder="Password">
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword1" class="col-sm-2 control-label">Verify Password:</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="inputPassword2" placeholder="Verify Password">
            </div>
        </div>
        <div class="form-group">
            <label for="inputEmail1" class="col-sm-2 control-label">Email:</label>
            <div class="col-sm-10">
                <input type="email" class="form-control" id="inputEmail1" placeholder="Email">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <!-- Might revert back to the commented out button, depending on future functionality. -->
                <!-- <button type="submit" class="btn btn-default">Register</button> -->
                <a class="btn btn-default" href="profile.view.html" role="button">Register</a>
            </div>
        </div>
    </form>
</div>