<h1 class="page-header">Admin</h1>
<h2 class="sub-header">Users</h2>

<!-- Table -->
<div class="table-responsive">
    <table class="table table-striped">

        <thead>
        <tr>
            <th>
                <label for="usernameInput">
                    <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span> Username
                </label>
                <input ng-model="user.username" type="text" class="form-control" id="usernameInput" placeholder="Username">
            </th>
            <th>
                <label for="passwordInput">Password</label>
                <input ng-model="user.password" type="password" class="form-control" id="passwordInput" placeholder="Password">
            </th>
            <th>
                <label for="firstNameInput">
                    <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span> First Name
                </label>
                <input ng-model="user.firstName" type="text" class="form-control" id="firstNameInput" placeholder="First Name">
            </th>
            <th>
                <label for="lastNameInput">
                    <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span> Last Name
                </label>
                <input ng-model="user.lastName" type="text" class="form-control" id="lastNameInput" placeholder="Last Name">
            </th>
            <th>
                <label for="rolesInput">Roles</label>
                <input ng-model="user.roles" type="text" class="form-control" id="rolesInput" placeholder="Roles">
            </th>

            <th>
                <label>
                    Action
                </label>
                <p class="headerIconInputAlign">
                    <button type="button" class="btn btn-default" ng-click="addForm(formTitle)">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    </button>
                    <button type="button" class="btn btn-default" ng-click="updateForm(formTitle)">
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    </button>
                </p>
            </th>
        </tr>
        </thead>

        <tbody>
        <tr ng-repeat="user in users">
            <td>{{user.username}}</td>
            <td>{{user.password}}</td>
            <td>{{user.firstName}}</td>
            <td>{{user.lastName}}</td>
            <td>{{user.roles}}</td>
            <td>
                <button type="button" class="btn btn-default" ng-click="deleteForm($index)">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-default" ng-click="selectForm($index)">
                    <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                </button>
            </td>
        </tr>
        </tbody>

    </table>
</div>