<h1>Makers</h1>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Address</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Web</th>
            <th>Notes</th>
            <th>Application</th>
            <th>User's ID</th>
            <th>&nbsp</th>
        </tr>
        <tr>
            <th><input ng-model="maker.id" class="form-control"/></th>
            <th><input ng-model="maker.name" class="form-control"/></th>
            <th><input ng-model="maker.address" class="form-control"/></th>
            <th><input ng-model="maker.phone" class="form-control"/></th>
            <th><input ng-model="maker.email" class="form-control"/></th>
            <th><input ng-model="maker.web" class="form-control"/></th>
            <th><input ng-model="maker.notes" class="form-control"/></th>
            <th><input ng-model="maker.application" class="form-control"/></th>
            <th><input ng-model="maker.userId" class="form-control"/></th>
            <th class="inlineCrud">
                <button ng-click="addMaker(maker)" class="btn btn-primary">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </button>
                <button ng-click="changeMaker(maker)" class="btn btn-primary btn-success">
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                </button>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="maker in allMakers">
            <td>{{maker.id}}</td>
            <td>{{maker.name}}</a></td>
            <td>{{maker.address}}</a></td>
            <td>{{maker.phone}}</td>
            <td>{{maker.email}}</a></td>
            <td><a href="#/maker">{{maker.web}}</a></td>
            <td>{{maker.notes}}</td>
            <td>{{maker.application}}</a></td>
            <td><a href="#/user">{{maker.userId}}</a></td>
            <td>
                <button ng-click="removeMaker(maker)" class="btn btn-danger">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </button>
                <button ng-click="selectMaker($index)" class="btn btn-info">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>