<h1>Books</h1>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ISBN</th>
            <th>Wishlist</th>
            <th>Location</th>
            <th>&nbsp</th>
        </tr>
        <tr>
            <th><input ng-model="book.isbn" class="form-control" type="text"/></th>
            <th><input ng-model="book.wishlist" class="form-control" type="number"/></th>
            <th><input ng-model="book.location" class="form-control" type="number"/></th>
            <th class="text-nowrap">
                <button ng-click="addBook(book)" class="btn btn-primary">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </button>
                <button ng-click="changeBook(book)" class="btn btn-primary btn-success">
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                </button>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="book in allBooks">
            <td>{{book.isbn}}</td>
            <td class="text-right">
                <a href="#/wishlist">
                    {{book.wishlist}}
                </a>
            </td>
            <td class="text-right">
                <a href="#/location">
                    {{book.location}}
                </a>
            </td>
            <td class="text-nowrap">
                <button ng-click="removeBook(book)" class="btn btn-danger">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </button>
                <button ng-click="selectBook($index)" class="btn btn-info">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>