<h1>Search Books in Open Library API</h1>

<!-- Search fields -->
<form class="form-horizontal">
    <div class="form-group">
        <label for="inputTitle" class="col-sm-2 control-label">Title:</label>
        <div class="col-sm-10">
            <input ng-model="bookTitle"
                   type="text"
                   class="form-control"
                   id="inputTitle"
                   placeholder="Title">
        </div>
    </div>
    <div class="form-group">
        <label for="inputAuthor" class="col-sm-2 control-label">Author:</label>
        <div class="col-sm-10">
            <input ng-model="bookAuthor"
                   type="text"
                   class="form-control"
                   id="inputAuthor"
                   placeholder="Author">
        </div>
    </div>
    <div class="form-group">
        <label for="inputIsbn" class="col-sm-2 control-label">ISBN:</label>
        <div class="col-sm-10">
            <input ng-model="bookIsbn"
                   type="text"
                   class="form-control"
                   id="inputIsbn"
                   placeholder="ISBN">
        </div>
    </div>
    <div class="form-group">
        <label for="inputSubject" class="col-sm-2 control-label">Subject:</label>
        <div class="col-sm-10">
            <input ng-model="bookSubject"
                   type="text"
                   class="form-control"
                   id="inputSubject"
                   placeholder="Subject">
        </div>
    </div>
    <div class="form-group">
        <label for="inputPlace" class="col-sm-2 control-label">Place:</label>
        <div class="col-sm-10">
            <input ng-model="bookPlace"
                   type="text"
                   class="form-control"
                   id="inputPlace"
                   placeholder="Place">
        </div>
    </div>
    <div class="form-group">
        <label for="inputPerson" class="col-sm-2 control-label">Person:</label>
        <div class="col-sm-10">
            <input ng-model="bookPerson"
                   type="text"
                   class="form-control"
                   id="inputPerson"
                   placeholder="Person">
        </div>
    </div>
    <div class="form-group">
        <label for="inputPublisher" class="col-sm-2 control-label">Publisher:</label>
        <div class="col-sm-10">
            <input ng-model="bookPublisher"
                   type="text"
                   class="form-control"
                   id="inputPublisher"
                   placeholder="Publisher">
        </div>
    </div>
</form>

<!-- Search button -->
<a href="#/search/{{bookTitle}}/{{bookAuthor}}/{{bookIsbn}}/{{bookSubject}}/{{bookPlace}}/{{bookPerson}}/{{bookPublisher}}"
   class="btn btn-primary btn-block">
    Search
</a>

<!-- Search results -->
<table class="table table-striped">
    <thead>
    <tr>
        <th>Cover</th>
        <th>Title</th>
        <th>Editions</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="book in data.docs">
        <td>
            <!-- TODO update URLs. Probably with rest/editions/{{???}}.  See Passing Path Parameters EX.-->
            <a href="#/details/{{book.cover}}"><img img height="100px" ng-src="{{book.cover}}"/></a>
        </td>
        <td>
            <a href="#/details/{{book.title}}">{{book.title}}</a>
        </td>
        <td>
            <a href="#/details/{{book.edition_count}}">{{book.edition_count}}</a>
        </td>
    </tr>
    </tbody>
</table>
</div>